html,
body {
    padding: 0;
    margin: 0;
    font-family: $font-main;
    scroll-behavior: smooth;
    color: $text-primary;
    background-color: $background-dark;
}

* {
    box-sizing: border-box;
}